<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appmanagmenttime.ilagoproject.com.managertimeapplicationtimeup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/appTheme">
        <activity android:name=".MainAppActivity"
            android:theme="@style/appThemeTaskListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ActivityViewTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".ActivityViewEditorTask"
            android:theme="@style/appThemeEditorActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>